---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es"> 
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> 
	</head>
	<body>
		
		<Header />  

		<main>

            <div class="contenidoCont">

                <div class="programaCont">
                    <div class="programaContEsp">
                        <p class="etiqueta">Tecnología</p>
                        <h4 class="nombreCurso">Pitágoras</h4>
                        <h3 class="bajadaCurso">Programa de formarción de profesionales capacitados en el manejo y análisis de grandes volúmenes de datos.</h3>
                    </div> 
                </div>

                <div class="resumenCont">
                    <div class="resumenContEsp">

                        <div class="resumenInfo">
                            <p class="promoCurso">Ultimas <b>Inscripciones</b></p>
                            <p class="titulo">Curso dirigido a profesionales y técnicos que se desempeñen en los distintos roles y tareas del establecimiento educativo.</p>
                            <p class="subtitulo">• Objetivos</p>
                            <p class="parrafo">Generar espacios de aprendizaje y crecimiento, desde la atención plena, que permitan tanto a las personas, organizaciones y agrupaciones, poner en práctica habilidades humanas para generar transformaciones positivas hacia una cultura social y emocionalmente saludable.</p>
                            <p class="subtitulo">• Resultados:</p>
                            <p class="parrafo">Los procesos de aprendizajes basados en la práctica de la consciencia plena y la andragogía se proponen desde una mirada holística del ser humano con enfoque integrativo, donde confluyen distintas áreas para ampliar la percepción de nuestras posibilidades y potencialidades</p>
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg> 
                                </i>
                                <p class="regalos">Material Descargable</p>
                            </div>
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg>                                      
                                </i>
                                <p class="regalos">Incluye Cetificado</p>
                            </div>
                            
                        </div>

                        <div class="resumenImg">
                            <div class="imagenEntrada"></div>
                            <a href="#" class="botomPdf"> 
                               
                                    <svg class="iconoRegalo" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/>
                                      </svg>
                                      
                           
                                <p>Descargar Ficha del Curso</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="infoCont">
                    <div class="infoContEsp">
                        <div class="infoIntro">
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                                        </svg>
                                    </i>
                                    &nbsp;Propósito</p>
                                <p class="infoBoxText">Formar profesionales capacitados en el manejo y análisis de grandes volúmenes de datos. En Pitágoras se enseñan técnicas y herramientas avanzadas para extraer información valiosa, identificar patrones y tomar decisiones informadas basadas en datos. Además, busca fomentar habilidades críticas como la resolución de problemas, el pensamiento analítico y la capacidad de comunicar resultados de manera efectiva. Al final del programa, los estudiantes están preparados para enfrentar desafíos en diversos sectores, como la tecnología, la salud, las finanzas y el marketing, contribuyendo al avance y la innovación en sus respectivas áreas.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M15.514 3.293a1 1 0 0 0-1.415 0L12.151 5.24a.93.93 0 0 1 .056.052l6.5 6.5a.97.97 0 0 1 .052.056L20.707 9.9a1 1 0 0 0 0-1.415l-5.193-5.193ZM7.004 8.27l3.892-1.46 6.293 6.293-1.46 3.893a1 1 0 0 1-.603.591l-9.494 3.355a1 1 0 0 1-.98-.18l6.452-6.453a1 1 0 0 0-1.414-1.414l-6.453 6.452a1 1 0 0 1-.18-.98l3.355-9.494a1 1 0 0 1 .591-.603Z" clip-rule="evenodd"/>
                                          </svg>
                                    </i>
                                    &nbsp;Cultura</p>
                                <p class="infoBoxText">La cultura Pitagórica enseña que análisis de datos debe estar centrado en la curiosidad intelectual y el aprendizaje continuo, además de fomentar un ambiente donde se valora la exploración y la innovación. Los estudiantes y profesores deben sentirse motivados a hacer preguntas, experimentar y aprender de los errores.
                                    Además, la Academia Pitágoras promueve la colaboración y el trabajo en equipo, reconociendo que el análisis de datos a menudo requiere múltiples perspectivas y habilidades.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
                                          </svg>                                          
                                    </i>
                                    &nbsp;Enfoque</p>
                                <p class="infoBoxText">La Academia de análisis de datos Pitágoras se enfoca en proporcionar una formación integral que combine teoría y práctica. Es esencial que los estudiantes adquieran conocimientos sólidos en cálculos, programación y manejo de bases de datos, así como en el uso de herramientas y software de análisis de datos. Lo anterior, incluye el uso de métodos estadísticos, algoritmos de aprendizaje automático y herramientas de visualización para identificar patrones y tendencias. Además, se capacita a los estudiantes en la interpretación de resultados y en la toma de decisiones basadas en datos.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 22 24">
                                            <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                                        </svg>                                          
                                    </i>
                                    &nbsp;Metodología</p>
                                <p class="infoBoxText">La metodología Pitagórica, se basa en la experiencia de su fundador con más de 30 años realizando clases en pregrado, post grado, y capacitación a empresas de distintos rubros. Esto ha permitido generar un entendimiento desde lo humano a lo técnico enmarcado dentro de la andragogía, transformando lo complejo en simple a través de ejemplo reales.</p>
                            </div>
                        </div>

                    </div>    
                </div>


                <div class="contEntrada">
                    <div class="contEntradaEsp">
                        <h4 class="tituloContenidos">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
                              </svg>                          
                            Contenidos del curso
                        </h4>
                        <p class="bajadaContenidos">Los programas ejes dentro de la Academia Pitágoras se establecieron de acuerdo con la arquitectura instalada por nuestros clientes, y al acceso de las herramientas más populares dentro de cada empresa, el programa se estructura en base a 7 módulos.</p>
                    </div>
                </div>

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Metodología</p>
                                            <p class="materialText">Dentro de los aspectos que componen la metodología Pitagórica, los cuales se aplican dependiendo del grupo objetivo, esta metodología asegura que los estudiantes no solo adquieran conocimientos teóricos, sino que también desarrollen habilidades prácticas y aplicables en el mundo laboral.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Fundamentos Teóricos</p>
                                            <p class="materialObj">Una introducción a los conceptos básicos de cálculos elementales, estadística, y teoría de datos. Nos preocupamos de que los estudiantes comprendan las bases antes de avanzar a temas más complejos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Herramientas y Software</p>
                                            <p class="materialObj">Se introduce a los estudiantes a herramientas y lenguajes de programación esenciales como Excel, Python, R, SQL y software de visualización como Looker Studio o Power BI. Realiza demostraciones en vivo y proporciona ejercicios prácticos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Proyectos Prácticos</p>
                                            <p class="materialObj">Se diseñan proyectos que permitan a los estudiantes aplicar lo aprendido en situaciones del mundo real. Utiliza conjuntos de datos reales y fomenta la resolución de problemas prácticos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Estudios de Caso</p>
                                            <p class="materialObj">Se presentan estudios de caso de diferentes industrias para mostrar aplicaciones prácticas del análisis de datos. Discute los métodos utilizados y los resultados obtenidos.</p>
                                            
                                          
                                        </div>
                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Evaluaciones Continuas</p>
                                            <p class="materialObj">Se implementa evaluaciones periódicas, como quizzes, proyectos y presentaciones, para medir el progreso de los estudiantes y reforzar el aprendizaje.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Trabajo Colaborativo</p>
                                            <p class="materialObj">Se fomenta el trabajo en equipo mediante proyectos grupales. Esto ayuda a desarrollar habilidades de comunicación y colaboración, esenciales en el análisis de datos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Comunicación de Resultados</p>
                                            <p class="materialObj">Se enseña a los estudiantes a presentar sus hallazgos de manera clara y efectiva. Practica la redacción de informes y la creación de presentaciones visuales.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Actualización Constante</p>
                                            <p class="materialObj">Se mantiene el contenido del curso actualizado con las últimas tendencias y avances en el campo del análisis de datos. Participa en seminarios y cursos de actualización para mejorar continuamente tu enseñanza.</p>
                                        
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 


                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Microsoft Excel </p>
                                            <p class="materialText">La herramienta más poderosa y versátil con varias características destacadas.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Celdas y Hojas de Cálculo</p>
                                            <p class="materialObj">Excel organiza datos en celdas dentro de hojas de cálculo, permitiendo manejar grandes volúmenes de información de manera estructurada.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Funciones y Fórmulas</p>
                                            <p class="materialObj">Ofrece una amplia variedad de funciones predefinidas para realizar cálculos matemáticos, estadísticos y financieros, desde simples sumas hasta complejos modelos estadísticos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Gráficos y Visualización de Datos</p>
                                            <p class="materialObj">Permite crear gráficos y tablas dinámicas para visualizar datos de manera clara y efectiva.</p>                                          
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Automatización con Macros</p>
                                            <p class="materialObj">Facilita la automatización de tareas repetitivas mediante el uso de macros, que son secuencias de comandos que pueden grabarse y ejecutarse.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Integración y Colaboración</p>
                                            <p class="materialObj">Se integra con otras aplicaciones de Microsoft Office y permite la colaboración en tiempo real con otros usuarios.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Importación y Exportación de Datos</p>
                                            <p class="materialObj">Capacidad para importar y exportar datos desde y hacia otras aplicaciones, facilitando el intercambio de información.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Herramientas de Formateo</p>
                                            <p class="materialObj">Ofrece diversas herramientas de formateo y estilo para mejorar la presentación y visualización de los datos.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Google Sheets  </p>
                                            <p class="materialText">Herramienta de hoja de cálculo en línea con varias características destacadas.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Accesibilidad en la Nube</p>
                                            <p class="materialObj">Al estar basado en la nube, permite acceder y editar documentos desde cualquier dispositivo con conexión a internet.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Colaboración en Tiempo Real</p>
                                            <p class="materialObj">Múltiples usuarios pueden trabajar simultáneamente en el mismo documento, viendo los cambios en tiempo real.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Funciones y Fórmulas</p>
                                            <p class="materialObj">Ofrece una amplia gama de funciones y fórmulas para realizar cálculos complejos y análisis de datos.</p>                                          
                                            <p class="subtituloObj"><span class="dot"></span> Automatización con Macros y Scripts</p>
                                            <p class="materialObj">Permite automatizar tareas repetitivas mediante el uso de macros y scripts personalizados.</p>                                          
                                        
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Visualización de Datos</p>
                                            <p class="materialObj">Incluye herramientas para crear gráficos, tablas dinámicas y cuadros personalizados.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Plantillas Prediseñadas</p>
                                            <p class="materialObj">Dispone de numerosas plantillas que facilitan la creación de informes y tablas.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Integración con Google Workspace</p>
                                            <p class="materialObj">Se integra perfectamente con otras aplicaciones de Google, como Drive, Docs y Slides, facilitando el intercambio de archivos y la colaboración.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Gratuito y Multiplataforma</p>
                                            <p class="materialObj">Es gratuito y funciona en dispositivos móviles y de escritorio, lo que lo hace accesible para una amplia audiencia.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Python  </p>
                                            <p class="materialText">Programación para Análisis de Datos, en lenguajes de programación como Python y R, fundamentales para el manejo y análisis de datos, Python es un lenguaje de programación muy popular y versátil, conocido por varias características destacadas.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Sintaxis Clara y Concisa</p>
                                            <p class="materialObj">Python tiene una sintaxis legible y fácil de entender, lo que facilita la escritura y el mantenimiento del código.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Multiparadigma</p>
                                            <p class="materialObj">Soporta múltiples paradigmas de programación, incluyendo la programación orientada a objetos, imperativa y funcional.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Amplia Biblioteca Estándar</p>
                                            <p class="materialObj">Viene con una extensa biblioteca estándar que proporciona módulos y funciones para casi cualquier tarea, desde operaciones matemáticas hasta manipulación de archivos.</p>                                          
                                            <p class="subtituloObj"><span class="dot"></span> Comunidad Activa y Apoyo</p>
                                            <p class="materialObj">Cuenta con una comunidad global activa que contribuye con documentación, foros y recursos educativos.</p>                                          
                                        
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Interpretado y Portátil</p>
                                            <p class="materialObj">Python es un lenguaje interpretado, lo que permite ejecutar el código línea por línea. Además, es altamente portátil, funcionando en múltiples plataformas sin necesidad de modificaciones.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Desarrollo Rápido de Prototipos</p>
                                            <p class="materialObj">Su sintaxis clara y facilidad de uso permiten un desarrollo rápido de prototipos y soluciones eficientes.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Gestión Automática de Memoria</p>
                                            <p class="materialObj">Python maneja automáticamente la asignación y liberación de memoria, simplificando la gestión de recursos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Código Abierto</p>
                                            <p class="materialObj">Es un lenguaje de código abierto, lo que significa que cualquiera puede contribuir a su desarrollo y mejoras.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;SQL</p>
                                            <p class="materialText">Manejo de Bases de Datos: por medio de la enseñanza de SQL y otros sistemas de gestión de bases de datos para la recopilación y manipulación de datos. SQL (Structured Query Language) es un lenguaje de programación específico para la gestión y manipulación de bases de datos relacionales.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Lenguaje Declarativo</p>
                                            <p class="materialObj">Permite especificar qué datos se necesitan sin tener que detallar cómo obtenerlos, facilitando la interacción con la base de datos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Manipulación de Datos</p>
                                            <p class="materialObj">Incluye comandos para insertar, actualizar, eliminar y consultar datos en las bases de datos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Definición de Datos</p>
                                            <p class="materialObj">Permite crear y modificar la estructura de las bases de datos, incluyendo tablas, índices y vistas.</p>                                          
                                            <p class="subtituloObj"><span class="dot"></span> Control de Acceso</p>
                                            <p class="materialObj">Ofrece mecanismos para gestionar permisos y roles, asegurando que solo usuarios autorizados puedan acceder y modificar los datos.</p>                                          
                                        
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Integridad de Datos</p>
                                            <p class="materialObj">Asegura la consistencia y precisión de los datos mediante restricciones y reglas de integridad.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Optimización de Consultas</p>
                                            <p class="materialObj">Proporciona herramientas para mejorar el rendimiento de las consultas, asegurando respuestas rápidas y eficientes.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Portabilidad</p>
                                            <p class="materialObj">Es compatible con múltiples sistemas de gestión de bases de datos, lo que facilita la migración y el uso en diferentes plataformas.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div>

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Power BI</p>
                                            <p class="materialText">Es una herramienta para la visualización y modelado de datos de Business Intelligence desarrollada por Microsoft, conocida por varias características destacadas.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Visualización de Datos</p>
                                            <p class="materialObj">Ofrece una amplia gama de herramientas para crear informes y cuadros de mando visualmente atractivos e interactivos.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Modelado de Datos</p>
                                            <p class="materialObj">Permite a los usuarios crear modelos de datos detallados para analizar y explorar la información de manera más profunda.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Conectividad de Datos</p>
                                            <p class="materialObj">Se puede conectar a una gran variedad de fuentes de datos, tanto locales como en la nube, facilitando la integración de datos de diferentes orígenes.</p>                                          
                                            <p class="subtituloObj"><span class="dot"></span> Análisis en Tiempo Real</p>
                                            <p class="materialObj">Proporciona capacidades para el análisis de datos en tiempo real, permitiendo a los usuarios tomar decisiones informadas rápidamente.</p>                                          
                                        
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Automatización y Actualización</p>
                                            <p class="materialObj">Permite la automatización de la actualización de datos y la programación de informes, asegurando que la información esté siempre actualizada.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Colaboración y Compartición</p>
                                            <p class="materialObj">Facilita la colaboración entre equipos mediante la compartición de informes y cuadros de mando, tanto en la web como en dispositivos móviles.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Seguridad y Control de Acceso</p>
                                            <p class="materialObj">Ofrece robustas características de seguridad y control de acceso para proteger los datos y asegurar que solo los usuarios autorizados puedan acceder a la información.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Looker Studio</p>
                                            <p class="materialText">Anteriormente conocido como Google Data Studio, es una herramienta de visualización de datos y Business Intelligence con varias características destacadas.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Integración de Datos</p>
                                            <p class="materialObj">Admite más de 730 conectores, permitiendo importar datos de diversas fuentes como Google Analytics, BigQuery, Google Sheets y YouTube Analytics.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Visualizaciones Interactivas</p>
                                            <p class="materialObj">Permite crear gráficos, tablas y diagramas interactivos para visualizar datos y monitorear indicadores clave de rendimiento (KPI) en tiempo real.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Colaboración en Tiempo Real</p>
                                            <p class="materialObj">Facilita la colaboración al permitir a los usuarios compartir informes con colegas y clientes, gestionando los derechos de acceso y permisos de edición.</p>                                          
                                            <p class="subtituloObj"><span class="dot"></span> Personalización de Informes</p>
                                            <p class="materialObj">Ofrece una biblioteca de plantillas de paneles personalizables, agilizando la creación de informes profesionales.</p>                                          
                                        
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Plataforma Basada en la Nube</p>
                                            <p class="materialObj">Al estar en la nube, permite acceder a los datos desde cualquier lugar y en cualquier momento, asegurando que los datos estén siempre actualizados.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Seguridad y Cumplimiento</p>
                                            <p class="materialObj">Facilita la colaboración entre equipos mediante la compartición de informes y cuadros de mando, tanto en la web como en dispositivos móviles.</p>
                                            <p class="subtituloObj"><span class="dot"></span> Seguridad y Control de Acceso</p>
                                            <p class="materialObj">Proporciona características avanzadas de seguridad y cumple con regulaciones internacionales de privacidad y seguridad de datos.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

            </div> <!--cierre Contenido Completo -->

        </main>
		<Footer />
	</body>
</html>

<style>

    .contenidoCont{
        width: 100%;
        height: fit-content;
        padding-bottom: 133px;
        background-color: white;
    }

    .programaCont{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
    }

    .programaContEsp{
        max-width: 1024px;
        height: 80%;
        -background-color: rgba(0, 0, 0, 0.2);
    }

    .etiqueta{
        width: fit-content;
        font-size: 0.5em;
        font-weight: 600;
        padding: 3px 10px;
        color: white;
        border-radius: 1rem;
        background-color: var(--color-pitagoras);
        margin-bottom: 15px;
    }

    .nombreCurso{
        font-size: 1.4em;
        font-weight: bolder;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: rgb(54, 50, 50);
        margin-bottom: 15px;
    }
    
    .bajadaCurso{
        width: 100%;
        font-size: 2.2em;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(54, 50, 50);
    }

    p{
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .resumenCont{
        width: 100%;
        height: 540px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-bg-azul);
    }

    .resumenContEsp{
        max-width: 1024px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        -background-color: rgba(0, 0, 0, 0.3);
    }

    .resumenInfo{
        flex: calc(50% - 0.5rem);
    }

    .promoCurso{
        width: fit-content;
        height: fit-content;
        padding: 3px 15px 2px 15px;
        font-size: 0.7em;
        font-weight: 500;
        color: white;
        border-radius: 1rem;
        background-color: var(--color-base-claro);
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: rgb(68, 65, 65); 
        margin-bottom: 30px;
    }

    .subtitulo{
        font-size: 0.8em;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(68, 65, 65);
        margin-bottom: 5px;
    }

    .parrafo{
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.05em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(86, 83, 83);
        margin-bottom: 20px;
    }

    .regalosCont{
        width: fit-content;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    .regalos{
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        vertical-align: middle;
        color: rgb(86, 83, 83);
        padding-top: 5px;
    }

    .iconRegalos{
        height: 30px;
        color: var(--color-pitagoras);
    }
    

    .resumenImg{
        flex: calc(50% - 0.5rem);
    }

    .imagenEntrada{
        width: 100%;
        height: 369px;
        background: url(../../public/pexels-tima-miroshnichenko-7567222.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1.5rem;
        margin-bottom: 20px;
    }

    .botomPdf{
       width: 100%;
       height: 40px;
       border-radius: 1rem;
       background-color: var(--color-base-claro);
       text-align: center;
       color: white;
       font-weight: 500;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       text-decoration: none;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
       transform: scale(1);
       transition: all ease-in-out 0.3s;
    }

    .botomPdf:hover{
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .botomPdf i{
        height: 22px;
    }

    .botomPdf p{
        padding-left: 1em;
        padding-top: 3px;
    }

    .infoCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 30px
    }

    .infoContEsp{
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        -background-color: orange;
    }

    .infoIntro{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        -background-color: blue;
    }

    .infoBox{
        max-width: calc(50% - 2rem);
        min-width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* border-radius: 1rem; */
        /* background-color:var(--color-bg-azul); */
    }

    .logoBox{
        margin: 0;
        padding: 0;
        vertical-align: sub;
        color: var(--color-pitagoras);

    }

    .infoBoxTitulo{
        width: 100%;
        padding-top: 6px;
        border-bottom: 1px solid var(--color-pitagoras);
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgb(97, 92, 92);
        vertical-align: sub;
        background-color: white;

    }

    .infoBoxText{
        width: 90%;
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.4em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(86, 83, 83);
        margin-top: 20px;
    }

    /* contenidos ----------------------------------------- */

    .contEntrada{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 60px;
        margin-bottom:60px
    }

    .contEntradaEsp{
        width: 100%;
        max-width: 1024px;
        height: 100%;
    }

    .tituloContenidos{
        font-size: 1.8em;
        font-weight: 600;
        color: var(--color-base-claro);
        padding-bottom: 5px;
    }

    .bajadaContenidos{
        font-size: 0.9em;
        font-weight: 500;
        padding-left: 5px;
        letter-spacing: -0.01em; 
        color: rgb(255, 255, 255);
        padding: 5px 20px;
        background-color: var(--color-base-claro);
    }


    .materiaCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 20px;
        margin-bottom: 15px;
    }

    .materiaContEsp{
        width: 100%;
        max-width: 1024px;
        height: 90%;
        -background-color:red;
    }

    .summaryCont{
        width: 100%;
        height: fit-content;
        margin-top: 30px;
        -background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .summaryEsp{
        width: 96%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        gap: 1.5rem;
    }

    .colUno{
        border-left: 2px solid var(--color-pitagoras);
        padding-bottom: 15px;
        flex: 1;
    }
    
    .colDos{
        border-left: 2px solid var(--color-pitagoras);
        padding-bottom: 15px;
        flex: 1;
    }

    .tituloModulo {
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: -0.01em;
        color: var(--color-pitagoras);
        /* color: rgb(86, 83, 83); */
        transform: translateY(-14px);
    }

    .materialText{
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.05em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        font-style: italic;
        color: rgb(86, 83, 83);
        padding-left: 20px;
    }

    .subtituloObj{
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: -0.01em;
        color: rgb(115, 110, 110);
        /* color: var(--color-pitagoras); */
        margin-bottom: 6px;
        padding: 2px 13px;
        transform: translateX(-24px);
        -background-color: var(--color-pitagoras);
    }

    .subtituloObjDos{
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-size: 0.8em;
        font-weight: normal;
        letter-spacing: -0.01em;
        color: rgb(87, 83, 83);
        /* color: var(--color-pitagoras); */
        margin-bottom: 6px;
        padding: 2px 13px;
        transform: translateX(-24px);
        -background-color: var(--color-pitagoras);
    }

    .materialObj{
        font-size: 0.8em;
        font-weight: normal;
        text-wrap: pretty;
        letter-spacing: -0.01em;
        line-height: 1.1em;
        color: rgb(86, 83, 83);
        margin-bottom: 10px; 
        padding-left: 20px;
    }


    .dot {
        height: 20px;
        width: 20px;
        background-color: var(--color-pitagoras);
        border-radius: 50%;
        display: inline-block;
        margin-right: 0.5rem;
        vertical-align: sub;
    }

    .espColmun{
        width: 100%;
        height: 25px;
    }
 
    .lineaDoble{
        transform: translateX(-24px);
    }

    @media (min-width: 1025px) and (max-width: 1280px) {

        .programaContEsp{
            width: 96%;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .programaContEsp{
            width: 96%;
        }

        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(50% - 2rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .programaCont{
            height: 250px;
        }

        .programaContEsp{
            width: 96%;
        }

        .bajadaCurso{
            font-size: 1.5em;
        }

        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
            flex-direction: column;
            gap: 2rem;
        }

        .resumenInfo{
            flex: calc(100% - 0.5rem);
        }

        .resumenImg{
            width: 100%;
            flex: calc(100% - 0.5rem);
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(100% - 1rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntrada{
            margin-bottom: 10px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }

        .tituloContenidos{
            font-size: 1.3em;
        }

        .bajadaContenidos{
            font-size: 0.7em;
        }

        .summaryEsp{
            width: 96%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            gap: 0rem;
        }

        .colUno, .colDos{
            width: 100%;
            flex: calc(100% - 1rem);
        }

        .lineaDoble{
            transform: translateX(-24px);
        }
    }


</style>