---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es"> 
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> 
	</head>
	<body>
		
		<Header />  

		<main>

            <div class="contenidoCont">

                <div class="programaCont">
                    <div class="programaContEsp">
                        <p class="etiqueta">Evaluación</p>
                        <h4 class="nombreCurso">Ayala</h4>
                        <h3 class="bajadaCurso">Programa de acompañamiento de espacios de aprendizaje con la práctica de las habilidades socioemocionales</h3>
                    </div> 
                </div>

                <div class="resumenCont">
                    <div class="resumenContEsp">

                        <div class="resumenInfo">
                            <p class="promoCurso">Inscripciones <b>Abiertas</b></p>
                            <p class="titulo">Curso dirigido a profesionales y técnicos que se desempeñen en los distintos roles y tareas del establecimiento educativo.</p>
                            <p class="subtitulo">• Objetivos</p>
                            <p class="parrafo">Generar espacios de aprendizaje y crecimiento, desde la atención plena, que permitan tanto a las personas, organizaciones y agrupaciones, poner en práctica habilidades humanas para generar transformaciones positivas hacia una cultura social y emocionalmente saludable.</p>
                            <p class="subtitulo">• Resultados:</p>
                            <p class="parrafo">Los procesos de aprendizajes basados en la práctica de la consciencia plena y la andragogía se proponen desde una mirada holística del ser humano con enfoque integrativo, donde confluyen distintas áreas para ampliar la percepción de nuestras posibilidades y potencialidades</p>
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg> 
                                </i>
                                <p class="regalos">Material Descargable</p>
                            </div>
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg>                                      
                                </i>
                                <p class="regalos">Incluye Cetificado</p>
                            </div>
                            
                        </div>

                        <div class="resumenImg">
                            <div class="imagenEntrada"></div>
                            <a href="#" class="botomPdf"> 
                               
                                    <svg class="iconoRegalo" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/>
                                      </svg>
                                      
                           
                                <p>Descargar Ficha del Curso</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="infoCont">
                    <div class="infoContEsp">
                        <div class="infoIntro">
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                                        </svg>
                                    </i>
                                    &nbsp;Propósito</p>
                                <p class="infoBoxText">Generar espacios de aprendizaje y crecimiento, desde la atención plena, que permitan tanto a las personas, organizaciones y agrupaciones, poner en práctica habilidades humanas para generar transformaciones positivas hacia una cultura social y emocionalmente saludable.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M15.514 3.293a1 1 0 0 0-1.415 0L12.151 5.24a.93.93 0 0 1 .056.052l6.5 6.5a.97.97 0 0 1 .052.056L20.707 9.9a1 1 0 0 0 0-1.415l-5.193-5.193ZM7.004 8.27l3.892-1.46 6.293 6.293-1.46 3.893a1 1 0 0 1-.603.591l-9.494 3.355a1 1 0 0 1-.98-.18l6.452-6.453a1 1 0 0 0-1.414-1.414l-6.453 6.452a1 1 0 0 1-.18-.98l3.355-9.494a1 1 0 0 1 .591-.603Z" clip-rule="evenodd"/>
                                          </svg>
                                    </i>
                                    &nbsp;Cultura</p>
                                <p class="infoBoxText">El desarrollo de Alaya se sostiene en la creación de experiencias vinculantes entre seres humanos y la práctica de habilidades sociales, ancladas en la filosofía del Mindfulness, aplicadas a diferentes aspectos de la vida personal y profesional, como herramienta para fomentar y acompañar la transformación cultural.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
                                          </svg>                                          
                                    </i>
                                    &nbsp;Enfoque</p>
                                <p class="infoBoxText">Los procesos de aprendizajes basados en la práctica de la consciencia plena y la andragogía se proponen desde una mirada holística del ser humano con enfoque integrativo, donde confluyen distintas áreas para ampliar la percepción de nuestras posibilidades y potencialidades en nuestro desarrollo personal.</p>
                            </div>
                            <div class="infoBox">
                                <p class="infoBoxTitulo">	
                                    &nbsp; 
                                    <i class="logoBox">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" viewBox="0 0 22 24">
                                            <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                                        </svg>                                          
                                    </i>
                                    &nbsp;Metodología</p>
                                <p class="infoBoxText">Contempla el desarrollo de la andragogía y la búsqueda por fomentar la reflexión consciente, bajo distintos pilares orientados en la práctica de habilidades humanas, la incorporación de herramientas vinculadas a la atención plena y el ejercicio de la inteligencia emocional para favorecer la generación de hábitos saludables que influyen de manera poderosa en nuestra conducta.</p>
                            </div>
                        </div>

                    </div>    
                </div>


                <div class="contEntrada">
                    <div class="contEntradaEsp">
                        <h4 class="tituloContenidos">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z"/>
                              </svg>                          
                            Contenidos del curso
                        </h4>
                        <p class="bajadaContenidos">El programa se estructura en base a 2 módulos.</p>
                    </div>
                </div>

                <div class="materiaCont">
                    <div class="materiaContEsp">
                            

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        
                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Modulo Capacitación</p>
                                            <p class="materialText">Contamos con acompañamientos orientados a la transformación de habilidades personales y competencias socioemocionales ajustados a los tiempos, necesidades y procesos de cambio de las personas y organizaciones.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Autocuidado para la Calidad de Vida</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Comunicación Consciente</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Prevención del Desgaste Profesional</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Liderazgo Consciente</p>
                                            
                                          
                                        </div>
                                        <div class="colDos">
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Gestión y Alfabetización Emocional</p>
                                            <p class="subtituloObjDos lineaDoble"><span class="dot"></span></span> Integración de Equipos en Consciencia Plena</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Comunicación Preventiva Ley Karin</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Comunicación con Storytelling</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Creatividad en Consciencia Plena</p>
                                            <p class="subtituloObjDos"><span class="dot"></span></span> Cambios con Perspectiva</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 

                <div class="materiaCont">
                    <div class="materiaContEsp">

                                <div class="summaryCont">
                                    <div class="summaryEsp">

                                        <div class="colUno">
                                            <p class="tituloModulo">&nbsp;<i></i>&nbsp;Modulo Mindfulgym</p>
                                            <p class="materialText">Intervenciones complementarias, dirigidas a personas, organizaciones y/o agrupaciones, que reconocen la gestión de las emociones y el bienestar, como fundamentos claves para el desarrollo de habilidades para la vida, en el ámbito personal y profesional.</p>
                                            <div class="espColmun"></div>
                                            <p class="subtituloObj"><span class="dot"></span> Laboratorios de Aprendizaje</p>
                                            <p class="materialObj">Espacios grupales de aprendizaje experiencial, sostenidos por la colaboración y observación, en torno al desarrollo de soluciones ante desafíos sistémicos.</p>
                                           
                                            <p class="subtituloObj"><span class="dot"></span> Talleres y Charlas</p>
                                            <p class="materialObj">Experiencia inmersiva de conocimiento compartido. Talleres en formato Workshop y conferencias basadas en la participación dinámica con la audiencia, que contemplan la interacción con el aprendizaje.</p>
                                           
                                            <p class="subtituloObj"><span class="dot"></span> Coaching y Mentorías</p>
                                            <p class="materialObj">Acompañamientos individuales y de equipos vinculados a la toma de decisiones, la gestión de procesos, así como el desarrollo y promoción de habilidades emocionales al interior de las organizaciones.</p>
                                          
                                        </div>

                                        <div class="colDos">
                                            <p class="subtituloObj"><span class="dot"></span> Pausas Activas y Masoterapia</p>
                                            <p class="materialObj">Pausas para reconectar con el bienestar integral de los equipos, enfocadas a incorporar rutinas de autocuidado a través de dinámicas que involucran el cuerpo, la mente y el área afectiva.</p>
                                        
                                            <p class="subtituloObj"><span class="dot"></span> Sonoterapia</p>
                                            <p class="materialObj">Sesión presencial guiada, donde pueden experimentar un viaje sonoro en torno al espacio de relajación consciente, que propicia el estado de calma y estimulación del sistema nervioso de manera favorable frente a periodos de alta exigencia.</p>
                                        
                                            <p class="subtituloObj"><span class="dot"></span> Prácticas Atención Plena</p>
                                            <p class="materialObj">Espacios grupales para el autoconocimiento, que incluyen el desarrollo de prácticas guiadas vinculadas al mindfulness y la meditación como parte de sus posibilidades de aplicación, a través de ejercicios de relajación, meditación y reconexión.</p>
                                        </div>
                                       
                                    </div>
                                </div>
                    </div>
                </div> 


            </div> <!--cierre Contenido Completo -->

        </main>
		<Footer />
	</body>
</html>

<style>

    .contenidoCont{
        width: 100%;
        height: fit-content;
        padding-bottom: 133px;
        background-color: white;
    }

    .programaCont{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
    }

    .programaContEsp{
        max-width: 1024px;
        height: 80%;
        -background-color: rgba(0, 0, 0, 0.2);
    }

    .etiqueta{
        width: fit-content;
        font-size: 0.5em;
        font-weight: 600;
        padding: 3px 10px;
        color: white;
        border-radius: 1rem;
        background-color: var(--color-ayala);
        margin-bottom: 15px;
    }

    .nombreCurso{
        font-size: 1.4em;
        font-weight: bolder;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: rgb(54, 50, 50);
        margin-bottom: 15px;
    }
    
    .bajadaCurso{
        width: 100%;
        font-size: 2.2em;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(54, 50, 50);
    }

    p{
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .resumenCont{
        width: 100%;
        height: 540px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-bg-azul);
    }

    .resumenContEsp{
        max-width: 1024px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        -background-color: rgba(0, 0, 0, 0.3);
    }

    .resumenInfo{
        flex: calc(50% - 0.5rem);
    }

    .promoCurso{
        width: fit-content;
        height: fit-content;
        padding: 3px 15px 2px 15px;
        font-size: 0.7em;
        font-weight: 500;
        color: white;
        border-radius: 1rem;
        background-color: var(--color-base-claro);
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: rgb(68, 65, 65); 
        margin-bottom: 30px;
    }

    .subtitulo{
        font-size: 0.8em;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(68, 65, 65);
        margin-bottom: 5px;
    }

    .parrafo{
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.05em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(86, 83, 83);
        margin-bottom: 20px;
    }

    .regalosCont{
        width: fit-content;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    .regalos{
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        vertical-align: middle;
        color: rgb(86, 83, 83);
        padding-top: 5px;
    }

    .iconRegalos{
        height: 30px;
        color: var(--color-ayala);
    }
    

    .resumenImg{
        flex: calc(50% - 0.5rem);
    }

    .imagenEntrada{
        width: 100%;
        height: 369px;
        background: url(../../src/images/business-people-meeting-medium-shot.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1.5rem;
        margin-bottom: 20px;
    }

    .botomPdf{
       width: 100%;
       height: 40px;
       border-radius: 1rem;
       background-color: var(--color-base-claro);
       text-align: center;
       color: white;
       font-weight: 500;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       text-decoration: none;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
       transform: scale(1);
       transition: all ease-in-out 0.3s;
    }

    .botomPdf:hover{
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .botomPdf i{
        height: 22px;
    }

    .botomPdf p{
        padding-left: 1em;
        padding-top: 3px;
    }

    .infoCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 30px
    }

    .infoContEsp{
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        -background-color: orange;
    }

    .infoIntro{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        -background-color: blue;
    }

    .infoBox{
        max-width: calc(50% - 2rem);
        min-width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* border-radius: 1rem; */
        /* background-color:var(--color-bg-azul); */
    }

    .logoBox{
        margin: 0;
        padding: 0;
        vertical-align: sub;
        color: var(--color-ayala);

    }

    .infoBoxTitulo{
        width: 100%;
        padding-top: 6px;
        border-bottom: 1px solid var(--color-ayala);
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgb(97, 92, 92);
        vertical-align: sub;
        background-color: white;

    }

    .infoBoxText{
        width: 90%;
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.4em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(86, 83, 83);
        margin-top: 20px;
    }

    /* contenidos ----------------------------------------- */

    .contEntrada{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 60px;
        margin-bottom:60px
    }

    .contEntradaEsp{
        width: 100%;
        max-width: 1024px;
        height: 100%;
    }

    .tituloContenidos{
        font-size: 1.8em;
        font-weight: 600;
        color: var(--color-base-claro);
        padding-bottom: 5px;
    }

    .bajadaContenidos{
        font-size: 0.9em;
        font-weight: 500;
        padding-left: 5px;
        letter-spacing: -0.01em; 
        color: rgb(255, 255, 255);
        padding: 5px 20px;
        background-color: var(--color-base-claro);
    }


    .materiaCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 20px;
        margin-bottom: 15px;
    }

    .materiaContEsp{
        width: 100%;
        max-width: 1024px;
        height: 90%;
        -background-color:red;
    }

    .summaryCont{
        width: 100%;
        height: fit-content;
        margin-top: 30px;
        -background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .summaryEsp{
        width: 96%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        gap: 1.5rem;
    }

    .colUno{
        border-left: 2px solid var(--color-ayala);
        padding-bottom: 15px;
        flex: 1;
    }
    
    .colDos{
        border-left: 2px solid var(--color-ayala);
        padding-bottom: 15px;
        flex: 1;
    }

    .tituloModulo {
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: -0.01em;
        color: var(--color-ayala);
        /* color: rgb(86, 83, 83); */
        transform: translateY(-14px);
    }

    .materialText{
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.05em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        font-style: italic;
        color: rgb(86, 83, 83);
        padding-left: 20px;
    }

    .subtituloObj{
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: -0.01em;
        color: rgb(115, 110, 110);
        /* color: var(--color-ayala); */
        margin-bottom: 6px;
        padding: 2px 13px;
        transform: translateX(-24px);
        -background-color: var(--color-ayala);
    }

    .subtituloObjDos{
        width: fit-content;
        height: fit-content;
        text-align: center;
        font-size: 0.8em;
        font-weight: normal;
        letter-spacing: -0.01em;
        color: rgb(87, 83, 83);
        /* color: var(--color-ayala); */
        margin-bottom: 6px;
        padding: 2px 13px;
        transform: translateX(-24px);
        -background-color: var(--color-ayala);
    }

    .materialObj{
        font-size: 0.8em;
        font-weight: normal;
        text-wrap: pretty;
        letter-spacing: -0.01em;
        line-height: 1.1em;
        color: rgb(86, 83, 83);
        margin-bottom: 10px; 
        padding-left: 20px;
    }


    .dot {
        height: 20px;
        width: 20px;
        background-color: var(--color-ayala);
        border-radius: 50%;
        display: inline-block;
        margin-right: 0.5rem;
        vertical-align: sub;
    }

    .espColmun{
        width: 100%;
        height: 25px;
    }
 
    .lineaDoble{
        transform: translateX(-24px);
    }

    @media (min-width: 1025px) and (max-width: 1280px) {

        .programaContEsp{
            width: 96%;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .programaContEsp{
            width: 96%;
        }

        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(50% - 2rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .programaCont{
            height: 250px;
        }

        .programaContEsp{
            width: 96%;
        }

        .bajadaCurso{
            font-size: 1.5em;
        }

        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
            flex-direction: column;
            gap: 2rem;
        }

        .resumenInfo{
            flex: calc(100% - 0.5rem);
        }

        .resumenImg{
            width: 100%;
            flex: calc(100% - 0.5rem);
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(100% - 1rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntrada{
            margin-bottom: 10px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }

        .tituloContenidos{
            font-size: 1.3em;
        }

        .bajadaContenidos{
            font-size: 0.7em;
        }

        .summaryEsp{
            width: 96%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            gap: 0rem;
        }

        .colUno, .colDos{
            width: 100%;
            flex: calc(100% - 1rem);
        }

        .lineaDoble{
            transform: translateX(-24px);
        }
    }


</style>