---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/HeaderHome.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es"> 
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> 
	</head>
	<body>
		
		<Header />  

		<main>

            <div class="menuBg"></div>

            <div class="contenidoCont">

                <div class="programaCont">
                    <div class="programaContEsp">

                        <div class="logoContain">
                            <h4 class="nombreCurso">Alaya</h4>
                            <div class="logotipoCurso"></div>
                        </div>
                        
                        <p class="etiqueta">Desarrollando Habilidades con Alma.</p>
                        <h3 class="bajadaCurso">Descubre un programa diseñado para acompañarte en espacios de aprendizaje transformadores, donde desarrollarás habilidades socioemocionales claves para el éxito personal y profesional.</h3>
                    </div> 
                </div>

                <div class="resumenCont">
                    <div class="resumenContEsp">

                        <div class="resumenInfo">

                            <p class="promoCurso">Inscripciones <b>Abiertas</b></p>
                            <p class="titulo">Nuestro Propósito.</p>
                            <p class="parrafo">Generar espacios de aprendizaje y crecimiento, desde la atención plena, que permitan tanto a las personas, organizaciones y agrupaciones, poner en práctica habilidades humanas para generar transformaciones positivas hacia una cultura social y emocionalmente saludable.</p>

                          
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg> 
                                </i>
                                <p class="regalos">Material Descargable</p>
                            </div>
                            <div class="regalosCont">

                                <i class="iconRegalos">
                                    <svg class="w-[30px] h-[30px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                                    </svg>                                      
                                </i>
                                <p class="regalos">Incluye Cetificado</p>
                            </div>
                            
                        </div>

                        <div class="resumenImg">
                            <div class="imagenEntrada"></div>
                           
                        </div>
                    </div>
                </div>

                <div class="infoCont">
                    <div class="infoContEsp">

                        <div class="infoIntro">
                            
                            <div class="infoBox">
                                <div class="infoImagen imgUno">
                                    <p class="tituloImagen"><i class="bi bi-bookmark-check-fill check"></i> Cultura</p>
                                </div>
                                <p class="infoBoxText">El desarrollo de Alaya se sostiene en la creación de experiencias vinculantes entre seres humanos y la práctica de habilidades sociales, ancladas en la filosofía del Mindfulness, aplicadas a diferentes aspectos de la vida personal y profesional, como herramienta para fomentar y acompañar la transformación cultural.</p>
                            </div>

                            <div class="infoBox">
                                <div class="infoImagen imgDos">
                                    <p class="tituloImagen"><i class="bi bi-bookmark-check-fill check"></i> Enfoque</p>
                                </div>
                                <p class="infoBoxText">Los procesos de aprendizajes basados en la práctica de la consciencia plena y la andragogía se proponen desde una mirada holística del ser humano con enfoque integrativo, donde confluyen distintas áreas para ampliar la percepción de nuestras posibilidades y potencialidades en nuestro desarrollo personal.</p>
                            </div>

                            <div class="infoBox">
                                <div class="infoImagen imgTres">
                                    <p class="tituloImagen"><i class="bi bi-bookmark-check-fill check"></i> Metodología</p>
                                </div>
                                <p class="infoBoxText">Contempla el desarrollo de la andragogía y la búsqueda por fomentar la reflexión consciente, bajo distintos pilares orientados en la práctica de habilidades humanas, la incorporación de herramientas vinculadas a la atención plena y el ejercicio de la inteligencia emocional para favorecer la generación de hábitos saludables que influyen de manera poderosa en nuestra conducta.</p>
                            </div>

                        </div>

                    </div>    
                </div>


                <div class="contEntrada">
                    <div class="contEntradaEsp">
                        <h4 class="tituloContenidos">
                            <i class="bi bi-bookmark-plus-fill icoCont"></i>                          
                            Acompañamientos del programa
                        </h4>
                        <p class="bajadaContenidos">Orientados a la transformación de habilidades personales y competencias socioemocionales ajustados a los tiempos, necesidades y procesos de cambio de las organizaciones.</p>
                    </div>
                </div>

                <div class="contenidoBase">
                    <div class="contenidoBaseCont">

                        <div class="contColUno">
                    
                            <div class="contdegrad"></div>
                            <div class="contImage imgUno"></div>
                            <div class="contColor">
                                <i class="bi bi-journal-richtext book"></i>
                            </div>
                            
                        </div>

                        <div class="contColDos">

                            <div class="scrollBg"></div>

                            <div class="continfo">
                                <p class="tituloModulo">Programas de Capacitación</p>
                            </div>

                            <div class="materiaScroll">

                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Autocuidado para la Calidad de Vida</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Comunicación Consciente</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Prevención del Desgaste Profesional</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Liderazgo Consciente</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Gestión y Alfabetización Emocional</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Integración de Equipos en Consciencia Plena</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Comunicación Preventiva Ley Karin</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Comunicación con Storytelling</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Creatividad en Consciencia Plena</p>
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Cambios con Perspectiva</p>
                                <div class="espaScroll"></div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="contenidoBase">
                    <div class="contenidoBaseCont">

                        <div class="contColUno">
                    
                            <div class="contdegrad"></div>
                            <div class="contImage"></div>
                            <div class="contColor">
                                <i class="bi bi-journal-richtext book"></i>
                            </div>
                            
                        </div>

                        <div class="contColDos">

                            <div class="scrollBg"></div>

                            <div class="continfo">
                                <p class="tituloModulo">Modulo Mindfulgym</p>
                                <p class="materialText">Intervenciones complementarias, dirigidas a personas, organizaciones y/o agrupaciones, que reconocen la gestión de las emociones y el bienestar, como fundamentos claves para el desarrollo de habilidades para la vida, en el ámbito personal y profesional.</p>
                            </div>

                            <div class="materiaScroll">
                    
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Laboratorios de Aprendizaje</p>
                                <p class="materialObj">Espacios grupales de aprendizaje experiencial, sostenidos por la colaboración y observación, en torno al desarrollo de soluciones ante desafíos sistémicos.</p>
                                            
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Talleres y Charlas</p>
                                <p class="materialObj">Experiencia inmersiva de conocimiento compartido. Talleres en formato Workshop y conferencias basadas en la participación dinámica con la audiencia, que contemplan la interacción con el aprendizaje.</p>
                                            
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Coaching y Mentorías</p>
                                <p class="materialObj">Acompañamientos individuales y de equipos vinculados a la toma de decisiones, la gestión de procesos, así como el desarrollo y promoción de habilidades emocionales al interior de las organizaciones.</p>

                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Pausas Activas y Masoterapia</p>
                                <p class="materialObj">Pausas para reconectar con el bienestar integral de los equipos, enfocadas a incorporar rutinas de autocuidado a través de dinámicas que involucran el cuerpo, la mente y el área afectiva.</p>
                                            
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Sonoterapia</p>
                                <p class="materialObj">Sesión presencial guiada, donde pueden experimentar un viaje sonoro en torno al espacio de relajación consciente, que propicia el estado de calma y estimulación del sistema nervioso de manera favorable frente a periodos de alta exigencia.</p>
                                            
                                <p class="subtituloObj"><i class="bi bi-check2-circle arrow"></i> Prácticas Atención Plena</p>
                                <p class="materialObj">Espacios grupales para el autoconocimiento, que incluyen el desarrollo de prácticas guiadas vinculadas al mindfulness y la meditación como parte de sus posibilidades de aplicación, a través de ejercicios de relajación, meditación y reconexión.</p>

                                <div class="espaScroll"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>


            </div> <!--cierre Contenido Completo -->

        </main>
		<Footer />
	</body>
</html>

<style>

    header{
        background-color: #443fdce4; 
    }

    .menuBg{
        width: 100%;
        height: 133px;
        position: absolute;
        z-index: -1;
        top: 0;
        background: linear-gradient(90deg, rgba(116,26,128,0.9) 0%, rgba(62,47,138,0.9) 100%);
    }

    .contenidoCont{
        width: 100%;
        height: fit-content;
        /* background-color: white; */
    }

    .programaCont{
        width: 100%;
        height: fit-content;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../../src/images/business-people-meeting-medium-shot.jpg);
        background-position: center;
        background-size: 200%;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        /* background-color: rgba(var(--color-ayala-rgb), 0.95); */
        background-color: rgba(2, 157, 141, 0.95);
        box-shadow: rgba(0, 0, 0, 0.35) 0px -25px 20px -20px inset;
    }

    .programaContEsp{
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        padding-bottom: 20px;
        -background-color: rgba(0, 0, 0, 0.2);
    }

    .etiqueta{
        width: 100%;
        text-align: center;
        font-size: 1.1em;
        font-weight: 500;
        font-style: italic;
        /* padding: 3px 10px; */
        color: rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        /* background-color: white; */
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .logoContain{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .logotipoCurso{
        width: 100px;
        height: 100px;
        background: url(/alaya_logo.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nombreCurso{
        font-size: 1.4em;
        font-weight: bolder;
        line-height: 1em;
        letter-spacing: -0.01em;
        /* color: rgb(54, 50, 50); */
        color: rgb(255, 255, 255);
        margin-bottom: 15px;
        margin-top: 5px;
    }
    
    .bajadaCurso{
        width: 100%;
        text-align: center;
        font-size: clamp(0.5rem, 5vw, 2.1rem);
        font-weight: 600;
        line-height: 1.05em;
        letter-spacing: -0.01em;
        text-wrap: wrap;
        /* color: rgb(54, 50, 50); */
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
    }

    p{
        margin: 0;
        padding: 0;
        font-size: medium;
    }

    .resumenCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        background-color: white;
    }

    .resumenContEsp{
        max-width: 1024px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        -background-color: rgba(0, 0, 0, 0.3);
    }

    .resumenInfo{
        flex: calc(50% - 0.5rem);
    }

    .promoCurso{
        width: fit-content;
        height: fit-content;
        padding: 3px 15px 2px 15px;
        font-size: 0.7em;
        font-weight: 500;
        color: white;
        border-radius: 1rem;
        background-color: var(--color-base);
        margin-bottom: 20px;
    }

    .titulo{
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -0.01em;
        color: rgb(68, 65, 65); 
        margin-bottom: 20px;
    }

    .parrafo{
        font-size: 0.95em;
        font-weight: normal;
        line-height: 1.3em;
        letter-spacing: 0em;
        text-wrap: pretty;
        color: rgb(86, 83, 83);
        margin-bottom: 20px;
    }

    .regalosCont{
        width: fit-content;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }

    .regalos{
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        vertical-align: middle;
        color: rgb(86, 83, 83);
        padding-top: 5px;
    }

    .iconRegalos{
        height: 30px;
        color: var(--color-ayala);
    }
    

    .resumenImg{
        flex: calc(50% - 0.5rem);
    }

    .imagenEntrada{
        width: 100%;
        height: 369px;
        background: url(../images/business-people-meeting-medium-shot.jpg); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 12px;
    }

    .infoCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .infoContEsp{
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        padding-top: 40px;
        padding-bottom: 40px;
        -background-color: orange;
    }

    .infoIntro{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        -background-color: blue;
    }

    .infoBox{
        max-width: calc(33.3% - 1rem);
        min-width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        -background-color: var(--color-bg-azul);
    }

    .infoImagen{
        width: 100%;
        height: 300px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .imgUno{
        background: url('../images/cultura.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imgDos{
        background: url('../images/enfoque.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .imgTres{
        background: url('../images/metodologia.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .tituloImagen{
        font-size: 1.2em;
        font-weight: 600;
        color:rgb(123, 114, 114);
        padding: 0px 26px;
        border-radius: 0 0 12px 12px;
        background-color: rgba(255, 255, 255, 1);
    }

    .check{
        font-size: 0.8em;
        color: var(--color-ayala);
    }

    .logoBox{
        margin: 0;
        padding: 0;
        vertical-align: sub;
        color: var(--color-ayala);

    }

    .infoBoxTitulo{
        width: 100%;
        padding-top: 6px;
        border-bottom: 1px solid var(--color-ayala);
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgb(97, 92, 92);
        vertical-align: sub;
        -background-color: white;
    }

    .infoBoxText{
        width: 94%;
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.4em;
        letter-spacing: -0.01em;
        text-wrap: pretty;
        color: rgb(105, 101, 101);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* contenidos -------------------------------------------------------------------------------------- */

    .contEntrada{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom:60px;
        margin-bottom: 20px;

        background: url(../../src/images/business-people-meeting-medium-shot.jpg);
        background-position: center 75%;
        background-size: 200%;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        /* background-color: rgba(var(--color-ayala-rgb), 0.95); */
        background-color: rgba(255, 255, 255, 0.8);
    }

    .contEntradaEsp{
        width: 94%;
        max-width: 1024px;
        height: 100%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icoCont{
        font-size: 0.8em;
        color: var(--color-base-claro);
    }

    .tituloContenidos{
        font-size: clamp(2.4rem, 5vw, 2.8rem);
        font-weight: 600;
        color: var(--color-base-claro);
        padding-bottom: 5px;
        text-align: center;
    }

    .bajadaContenidos{
        width: 75%;
        text-align: center;
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        font-weight: 500;
        padding-left: 25px;
        line-height: 0.95em;
        letter-spacing: 0em; 
        color: rgb(105, 101, 101);
    }


    .materiaCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

    .materiaContEsp{
        width: 100%;
        max-width: 1024px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
       
    }

    .summaryCont{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -background-color: rgba(0, 0, 0, 0.371);
    }

    .summaryEsp{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 3rem;
    }

    .colUno{
        flex: 1;
    }
    
    .colDos{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    .imgMaterialEsp{
        width: 100%;
        height: 550px;
        background-color: rgb(247, 241, 241);
    }

    .imgMaterial{
        width: auto;
        height: 500px;
        max-width: 500px;
        max-height: 500px;
        border-radius: 000px 400px 400px 400px;
        background: url(../images/alaya_programa_uno.jpg);
        background-position: center;
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .subtituloObjDos{
        width: fit-content;
        font-size: 0.9em;
        font-weight: 500;
        letter-spacing: -0.01em;
        color:  rgb(105, 101, 101);
        margin: 6px 0px;
        padding: 2px 20px;
        border-radius: 2rem;
        border: solid 1px rgba(8, 192, 205, 0.0);
        background-color: rgb(247, 241, 241);
    }

    .contenidoBase{
        width: 100%;
        height: fit-content;
        padding: 40px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .contenidoBaseCont{
        width: 96%;
        max-width: 1024px;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 0em;
        -background-color: rgba(0, 0, 0, 0.02);
    }

    .contColUno{
        flex: 1;
        position: relative;
    }

    .contColDos{
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .contImage{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 200px 0 0 80px;
        z-index: 1;
        top: 0;
        background: url(../images/alaya_programa_dos.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .imgUno{
        background: url('../images/alaya_programa_uno.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contdegrad{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.3) 15%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    }

    .contColor{
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 0;
        top: 0;
        border-radius: 20px 0px 0px 0px;
        background-color: #00b4a2b4;
    }

    .book{
        font-size: 2em;
        /* color: var(--color-ayala); */
        color: white;
        margin-left: 15px;
        margin-top: 30px;
    }

    .continfo{
        width: 100%;
        height: fit-content;
        padding-bottom: 20px;
        border-bottom: 1px dotted #00b4a253;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .tituloModulo {
        width: fit-content;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: -0.01em;
        line-height: 0.9em;
        color: var(--color-ayala);
    }

    .materialText{
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.4em;
        letter-spacing: -0.01em;
        text-wrap: wrap;
        font-style: italic;
        text-align: right;
        margin-top: 20px;
        color: rgb(95, 90, 90);
    }

    .materiaScroll{
        position: relative;
        width: 90%;
        height: 350px;
        margin-top: 40px;
        padding-right: 15px;
        overflow-y: scroll;
        -background-color: red;
    }

    .scrollBg{
        width: 94%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0.3) 55%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    }

    .arrow {
        vertical-align: -0.07em;
        margin-right: 5px;
        margin-left: 10px;
        color: var(--color-ayala);
        font-size: 1.2em;
        font-weight: bold;
    }
    
    .subtituloObj{
        width: fit-content;
        font-size: 0.8em;
        font-weight: 500;
        letter-spacing: -0.01em;
        color:  rgb(105, 101, 101);
        margin: 6px 0px;
        padding: 2px 20px 2px 0px;
        border-radius: 2rem;
        border: solid 1px rgba(8, 192, 205, 0.0);
        /* background-color: rgb(247, 241, 241); */
        background-color: #00b4a230;
    }

    .materialObj{
        font-size: 0.7em;
        font-weight: normal;
        text-wrap: pretty;
        letter-spacing: -0.01em;
        line-height: 1.1em;
        color: rgb(86, 83, 83);
        margin-top: 10px; 
        margin-bottom: 20px;
    }

    .espaScroll{
        width: 100%;
        height: 30px;
    }


    /* width */
    .materiaScroll::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .materiaScroll::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    /* Handle */
    .materiaScroll::-webkit-scrollbar-thumb {
        background: #00b4a284; 
        border-radius: 10px;
    }

    /* Handle on hover */
    .container::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
    }

    @media (min-width: 1025px) and (max-width: 1280px) {

        .programaContEsp{
            width: 96%;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .programaContEsp{
            width: 96%;
        }

        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(50% - 2rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .programaCont{
            height: fit-content;
        }

        .etiqueta{
            font-size: 0.8em;
        }

        .programaContEsp{
            width: 96%;
        }


        .resumenCont{
            height: fit-content;
            padding: 40px 0;
        }

        .resumenContEsp{
            width: 96%;
            flex-direction: column;
            gap: 2rem;
        }

        .resumenInfo{
            flex: calc(100% - 0.5rem);
        }

        .resumenImg{
            width: 100%;
            flex: calc(100% - 0.5rem);
        }

        .infoContEsp{
            width: 96%;
        }

        .infoBox{
            max-width: ;
            min-width: calc(100% - 1rem);
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            margin-bottom: 20px;
        }

        .contEntrada{
            margin-bottom: 10px;
        }

        .contEntradaEsp{
            width: 96%;
        }

        .materiaContEsp{
            width: 96%;
        }

        .bajadaContenidos{
            width: 85%;
        }

        .summaryEsp{
            width: 96%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            gap: 0rem;
        }

        .colUno, .colDos{
            width: 100%;
            flex: calc(100% - 1rem);
        }

        .lineaDoble{
            transform: translateX(-24px);
        }

        .contenidoBaseCont{
            width: 94%;
            max-width: 1024px;
            height: 950px;
            display: flex;
            flex-direction: column;
            gap: 0em;
            -background-color: rgba(0, 0, 0, 0.02);
        }

        .contImage{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 180px 20px 0 20px;
            z-index: 1;
            top: 0;
        }

        .continfo{
            width: 100%;
            height: fit-content;
            padding-bottom: 20px;
            border-bottom: 1px dotted #00b4a253;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .materialText{
            text-align: justify;
        }

        .contdegrad{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0.3) 15%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
        }

        .contColor{
            position: absolute;
            width: 50%;
            height: 50%;
            z-index: 0;
            top: 0;
            left: 0;
            border-radius: 20px 0px 0px 0px;
            background-color: #00b4a2b4;
        }

    }


</style>