---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog"))
    .sort((a, b) => {
        const dateA = a.data.posted || a.data.pubDate;
        const dateB = b.data.posted || b.data.pubDate;
        return (dateB?.valueOf() || 0) - (dateA?.valueOf() || 0); 
    })
    .slice(0, 2); // rescata los 2 más recientes

type BlogPost = CollectionEntry<"blog">;

// corta el contenido
const truncateContent = (content: string, maxLength: number): string => {
    return content.length > maxLength
        ? content.slice(0, maxLength) + "..."
        : content;
};
---

<div class="containerBlog">
    <div class="marginBlog">
        <div class="noticiasBlog">
            {
                posts.map((post: BlogPost) => (
                    <div class="blogEntrada">
                        
                        <div class="imgContainer">
                            <div class="dataImg">
                                <img class="imgBlog" src={post.data.heroImage} alt="" />
                            </div>
                        </div>

                        <div class="dataText">
                            <p class="fecha">
                                <FormattedDate
                                    date={post.data.posted || post.data.pubDate}
                                />
                            </p>
                            <p class="titulo">{post.data.title}</p>

                            <p class="contenido">
                                {truncateContent(post.data.description || '', 150)} 
                            </p>
                             
                        </div>

                        <div class="botomDown">
                                <a href={`/blog/${post.slug}/`}>
                                    <i class="bi bi-arrow-right-circle arrow"></i>
                                    <p>Seguir Leyendo</p> 
                                </a>
                        </div>


                    </div>
                ))
            }
        </div>
    </div>
</div>

<style>

    a {
    }

    .containerBlog {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        place-items: center;
        -background-color: black;
    }

    .marginBlog {
        width: 98%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        -background-color: blue;
    }

    .noticiasBlog {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        -background-color: yellow;
    } 

    .blogEntrada {
        width: calc(40% - 1rem);
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        gap: 1rem;
        background-color: var(--color-bg-azul);
        box-shadow: rgba(65, 63, 63, 0.05) 0px 1px 2px 2px, rgba(107, 109, 112, 0.01) 0px 2px 6px 4px;
        justify-content: space-between;
        align-items: center;
        transform: scale(1);
        transition: all ease-in-out 0.3s;
    } 

    .blogEntrada:hover{
        transform: scale(1.01);
    }

    .dataText {
        width: 94%;
        height: fit-content;
        -background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .fecha {
        height: fit-content;
        font-size: 0.6em;
        font-weight: 700;
        text-align: left;
        margin: 0;
        padding: 0;
        color: rgb(77, 74, 74);
        padding-top: 5px;
        margin-bottom: 10px;
    }
    
    .titulo {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        font-size: 1.1em;
        font-weight: 600;
        line-height: 1em;
        text-align: left;
        margin: 0;
        padding: 0;
        /* color: rgb(48, 46, 46); */
        color: var(--color-base);
        text-decoration: none;
        margin-bottom: 10px;
    }

    .contenido {
        width: 90%;
        float: left;
        font-size: 0.7em;
        font-weight: 500;
        line-height: 1em;
        color: rgb(68, 65, 65);
        margin-bottom: 30px;
    }

    .line{
        width: 100%;
        height: 1px;
        background-color: rgb(210, 199, 199);
    }

    p {
        margin: 0;
    }

    .botomDown{
        position: absolute;
        top: 280px;
        right: 0;
        width: 40%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;  
        border-radius: 1em 0 0 1em; 
        padding-left: 20px;
        transform: translateX(0px);
        background-color: var(--color-base);
        z-index: 1;
        transition: all ease-in 0.15s;
    }

    .blogEntrada:hover > .botomDown{
        transform: translateX(10px);
    }

    a {
        width: 100%;
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-size:  0.8em;
        font-weight: 500;
        line-height: 1em;
        text-align: left;
        margin: 0;
        padding: 0;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -background-color: #26c610;
    }

     a:hover {
        width: 100%;
        font-weight: 600;
        color: white;
     }

     a:hover > .arrow{
        color: white;
     }

     .arrow{
        color: white;
        font-size: 1.2em;
        margin-right: 10px;
     }

    .imgContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        -background-color: gray;
    }

    .dataImg {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 12px 12px 0px 0px;
        -background-color: orangered;
    }

    .imgBlog {
        height: auto;
        width: 600px;
        max-width: 150%;
    }

    @media (min-width: 768px) and (max-width: 1024px) {

        a{  
            width: 100%;
            font-size: 0.6em;
        }

        .noticiasBlog {
            position: relative;
            flex: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 2rem;
        } 

        .blogEntrada {
            height: fit-content;
            padding: 0px 0px;
        }

        .titulo{
            font-size: 0.9em;
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .blogEntrada {
            height: fit-content;
            padding: 15px 0px;
        }

        .noticiasBlog {
            position: relative;
            flex: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .blogEntrada {
            height: fit-content;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-wrap: wrap;
            gap: 2rem;
            background-color:  #ececf6a4;
            box-shadow: rgba(65, 63, 63, 0.05) 0px 1px 2px 2px, rgba(107, 109, 112, 0.01) 0px 2px 6px 4px;
            justify-content: center;
            align-items: center;
            transform: scale(1);
            transition: all ease-in-out 0.3s;
            height: fit-content;
            padding-bottom: 20px;
            padding-top: 0px;
        } 

        .dataImg {
            flex: 180px;
            height: 240px;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            -background-color: rgba(0, 0, 0, 0.7);
        }

        img {
            height: 90%;
            width: 90%;
        }

        .fecha {
            font-size: 0.6em;
            font-weight: 700;
            padding-top: 5px;
        }
        
        .titulo {
            font-size: 1em;
            font-weight: 600;
            line-height: 1em;
            text-align: left;
            color: rgb(48, 46, 46);
            margin-bottom: 10px;
        }

        .contenido {
            font-size: 0.6em;
            font-weight: 600;
            line-height: 1em;
            margin-bottom: 10px;
            color: rgb(107, 101, 101);
        }

        p {
            margin: 0;
        }

        a {
           
        }

        .botomDown{
            position: absolute;
            top: 220px;
            right: 0;
            width: 40%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;  
            border-radius: 1em 0 0 1em; 
            padding-left: 20px;
            transform: translateX(0px);
            background-color: var(--color-base);
            z-index: 1;
            transition: all ease-in 0.15s;
        }
    }

</style>
