---

---



<div class="datosEmpresa">

    <div class="contdatos">
        
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counterTres"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Empresas<br>Acompañadas</p>
        </div>
    </div>

    <div class="contdatos">
       
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counterDos"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Actividades<br>Realizadas</p>
        </div>
    </div>

    <div class="contdatos">
        
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counter"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Personas<br>Capacitadas</p>

        </div>
    </div>


    
    <div class="contdatos">
        
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counterCuatro"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Años de<br>Experiencia</p>
        </div>
    </div>

    <div class="contdatos">
       
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counterCinco"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Facilitadores<br>Expertos</p>
        </div>
    </div>

    <div class="contdatos">
       
        <div class="numDatos">
            <div class="odometro">
                <p class="numeroText" id="counterSeis"></p>
                <h4>&#43;</h4>
            </div> 
            <p class="bajadaText">Horas<br>Ejecutadas</p>

        </div>
    </div>


</div>


<script>
    function animateValue(id: string, start: number, end: number, duration: number) {
  const obj = document.getElementById(id);
  if (!obj) return;

  let startTime: number | null = null;

  function step(timestamp: number) {
    if (!startTime) startTime = timestamp;
    const progress = Math.min((timestamp - startTime) / duration, 1);
    const currentValue = Math.floor(progress * (end - start) + start);

    obj!.textContent = currentValue.toString(); // Aseguramos que textContent reciba string

    if (progress < 1) {
      window.requestAnimationFrame(step);
    }
  }

  window.requestAnimationFrame(step);
}

animateValue("counter", 100, 20000, 3600); // Animación de 0 a 100 en 5 segundos
animateValue("counterDos", 100, 1000, 3300); // Animación de 0 a 100 en 5 segundos
animateValue("counterTres", 100, 50, 3000); // Animación de 0 a 100 en 5 segundos

animateValue("counterCuatro", 100, 6, 3600); // Animación de 0 a 100 en 5 segundos
animateValue("counterCinco", 100, 45, 3300); // Animación de 0 a 100 en 5 segundos
animateValue("counterSeis", 100, 16000, 3000); // Animación de 0 a 100 en 5 segundos

</script>



<style>

    .datosEmpresa{
        width: 100%;
        height: fit-content;
        -background-color: black;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 30px;
    }

    .contdatos{
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
    }

    .numDatos{
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -background-color: rgba(255, 255, 255, 0.7);
    }

    .odometro{
        width: 100%;
        height: fit-content;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        padding: 4px 8px 14px 8px;
        border-radius: 12px;
        border: solid 2px rgba(var(--color-base-num), 0.4);
    }


    .numeroText{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5em;
        font-weight: 600;
        letter-spacing: -0.01em;
        margin: 0;
        padding: 0;
        line-height:initial;
        color: rgb(78, 71, 71);
        width: fit-content;
        height: fit-content;
    }

    h4{
        width: fit-content;
        float: left;
        color: var(--color-base);
        font-size: 2em;
    }    

    .bajadaText{
        width: fit-content;
        text-wrap: wrap;
        font-size: 0.6em;
        font-weight: 500;
        margin: 0;
        padding: 4px 18px;
        line-height: 0.9em;
        color: rgba(var(--color-base-num), 0.9);
        margin-top: -5px;
        text-align: center;
        border-radius: 2em;
        transform: translateY(-10px);
        /* background-color: rgba(var(--color-base-num), 1); */
        background-color: rgb(255, 255, 255);
    }

    .datosIcon{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
		justify-content: center;
		align-items: center;
        -background-color: green;
    }

    .iconosNumerosDos{
        width: fit-content; 
        height: 2em;
        -background-color: red;
    }

    .icono{
        color: var(--color-base);
        font-size: 0em;
        vertical-align: 0em!important;
    }

    .bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
        vertical-align: 0em!important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .odometro{

            padding: 2px 4px 16px 4px;
        }

        .numeroText{
            font-size: 2.8em;
        }

        .bajadaText{
            font-size: 0.45em;
        }

        h4{
            font-size: 0.9em;
        }
    }

    @media (min-width: 0px) and (max-width: 767px) {
       
        .datosEmpresa{
            width: 100%;
            flex-wrap: wrap;
        }

        .contdatos{
            flex: 10%;
            -background-color: red;
        }

        .odometro{
            width: 100%;
            height: fit-content;
            display: flex; 
            flex-direction: row;
            justify-content: center;
            padding: 2px 5px 7px 5px;
            border-radius: 12px;
            border: solid 2px rgba(var(--color-base-num), 0.4);
        }

        .numeroText{
            font-size: 1.8em;
        }
    }
    

</style>

