---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Grupo DI. Todos los derechos Reservados.
	<div class="social-links">

		<a href="https://linkedin.com" target="_blank">
			
			<i class="bi bi-linkedin iconFoo"></i>	  
		</a>


		<a href="https://instagram.com" target="_blank">
			
			<i class="bi bi-instagram iconFoo"></i>
		</a>
		
		<a href="https://facebook.com" target="_blank">
		
			<i class="bi bi-facebook iconFoo"></i>
		</a>

		<a href="https://campus.grupodi.cl/" target="_blank">
			
			<i class="bi bi-opencollective iconFoo"></i>
		</a>

	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		/* background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray)); */
		background: linear-gradient(180deg, rgba(116,26,128,0.9) 0%, rgba(62,47,138,0.9) 100%);
		text-align: center;
		color: whitesmoke;
		font-size: medium;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: #8c89d4;
	}
	.social-links a:hover {
		color: white;
	}

	.iconFoo{
		font-size: 2em;
	}

</style>
