---

---

<div class="metodos"> 
    <div class="programasCont">

        <div class="programaBase programaUno">
            <div class="baseMargen">
                <div class="infoTop">
                    <div class="infoTopIzq" style="flex: 8;">
                        <p class="etiqueta">Evaluación</p>
                        <p class="titulo">Alaya</p>
                    </div>

                    <div class="infoTopDer" style="flex: 2;">
                        <div class="iconPrograma">
                            <svg
                                version="1.1"
                                id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px"
                                y="0px"
                                viewBox="0 0 300 300"
                                style="enable-background:new 0 0 300 300;"
                                xml:space="preserve"
                            >
                                <style type="text/css">
                                    .st0 {
                                        fill: #ffffff;
                                    }
                                </style>
                                <g>
                                    <path
                                        class="st0"
                                        d="M151,52.4c-18.6,0-33.8,15-33.8,33.3c0,18.4,15.2,33.3,33.8,33.3c18.6,0,33.8-15,33.8-33.3
		C184.8,67.4,169.7,52.4,151,52.4z M151,110c-13.6,0-24.6-10.8-24.6-24.2c0-13.4,11-24.2,24.6-24.2c13.6,0,24.6,10.9,24.6,24.2
		S164.6,110,151,110z"
                                    ></path>
                                    <path
                                        class="st0"
                                        d="M150,2C68.3,2,2,68.3,2,150s66.3,148,148,148s148-66.3,148-148S231.7,2,150,2z M110.9,285.5
		c16.9-2.2,33.7-5.4,50.2-9.4c1.7-0.4,3.1-1.8,3.4-3.6c13.4,3.1,27.3,5.9,39.5,7.8C174.5,292.5,141.7,294.3,110.9,285.5z
		 M218.8,273.1c-27-2.7-76.9-14.9-110.8-24.4c-2.4-0.7-5,0.7-5.7,3.1c0,0,0,0,0,0c-0.7,2.4,0.8,4.9,3.2,5.6
		c4.5,1.3,23.2,6.5,45.3,11.8c-15.5,3.5-40,8.1-59.5,9c-13.9-6.4-26.6-15-37.7-25.4c0.7-8.1,4.8-15.2,10.6-17.5
		c4.7-1.8,9.6-2.6,14.6-2.5c17.8,0,37.2,8.3,37.4,8.5c1.4,0.6,3.1,0.5,4.4-0.3c1.3-0.8,2.1-2.3,2.1-3.8v-47c0,0,0,0,0,0
		c0-1.3-1-2.3-2.3-2.3c-4.2,0-8.2,2-10.7,5.3c-3.8,4.9-9.8,11.6-17,16.5c-11.9,7.9-30.2,13.8-36.4,13.5c2.3-3.6,11.2-10.5,17.2-15.3
		c4.9-3.8,10-7.8,14.6-11.8c9.5-8.4,18.4-26.1,25.3-40.7l9.2-18.5l0.4-0.6c1.7-1.6,8.6-4.8,23.6-5.3c19.4-0.7,31.6,3.6,32.4,5.9
		l9.2,17.1c7,14.8,16.1,33.5,26,42.1c4.6,4.1,9.7,8,14.6,11.8c6.2,4.8,15.3,11.8,17.4,15.2c-6,0.3-24.6-5.6-36.5-13.5
		c-7.2-4.8-13.2-11.5-17-16.5c-2.6-3.3-6.5-5.3-10.7-5.3h-0.7c0,0,0,0,0,0c-1.3,0-2.3,1-2.3,2.3v47c0,1.6,0.8,3,2.2,3.8
		c1.3,0.8,3,0.9,4.4,0.3c9.1-4.2,35.7-13.9,49.3-8.4c6.7,2.7,11.3,10.7,11.7,20C238.2,260.6,228.8,267.5,218.8,273.1z M84.9,224
		c4.4-2,8.6-4.3,12.7-6.9c5.8-4,11.1-8.8,15.6-14.2v27.5C106.8,228.1,96.1,224.9,84.9,224z M214.8,222.9
		c-10.3,1.5-20.3,4.9-26.6,7.4v-28.1c4.7,5.7,10.2,10.8,16.4,15C207.8,219.3,211.3,221.2,214.8,222.9z M254.6,244.5
		c-1.2-4.6-3.3-8.9-6.2-12.6c0.9-0.1,1.7-0.3,2.5-0.6c2.3-0.8,4.1-2.7,4.7-5.1c1.9-7.7-7.8-15.2-21.1-25.5
		c-4.8-3.7-9.8-7.6-14.2-11.4c-9.1-8.1-18.8-28.7-25.2-42.4c-3.9-8.4-6.3-13.2-8.1-15.7c-0.5-0.6-1.2-1.1-1.9-1.4
		c-7.8-7.3-27.5-8-34.5-8c-7.8,0-31.2,0.9-36.3,10.9c-1.7,2.7-3.9,7.3-7.1,14.2c-6.4,13.6-16.1,34.3-25.2,42.3
		c-4.4,3.9-9.3,7.7-14.2,11.4c-13.4,10.3-23,17.8-21.1,25.5c0.6,2.4,2.4,4.3,4.7,5.1c0.6,0.2,1.2,0.4,1.8,0.5
		c-3.6,3.6-6.2,8.1-7.5,13C22,218.9,9,185.1,9,150C9,72.1,72.2,9,150,9s141,63.1,141,141C291,184.9,278,218.6,254.6,244.5z"
                                    ></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="infoMidle">
                    <p class="textMidle">
                        Programa de acompañamiento que impulsa espacios de aprendizaje, que permitan tanto a las personas, organizaciones y agrupaciones, desarrollar transformaciones positivas con la práctica de las habilidades socioemocionales, ancladas a la filosofía del Mindfulness, asegurando el bienestar integral de las personas desde una mirada más empática e innovadora.
                    </p>
                </div>

                <div class="infoAcordeon">
                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Objetivos</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Resultados</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary class="sumLines"
                            >&nbsp;<b>·</b>&nbsp;Horas Electivas</summary
                        >
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>
                </div>

                <div class="infoBotones alaya">
                    <a href="/alaya" class="botonPrograma">
                        <div class="verprogramaCont">
                            <p class="verprogramaText"> &#x2B9E; Ver Programa</p>
                        </div>
                    </a href="/alaya">
                </div>
            </div>
        </div>


        <div class="programaBase programaUno">
            <div class="baseMargen">
                <div class="infoTop" style="background-color: var(--color-pitagoras);">
                    <div class="infoTopIzq" style="flex: 8;">
                        <p class="etiqueta">Tecnología</p>
                        <p class="titulo">Pitagoras</p>
                    </div>

                    <div class="infoTopDer" style="flex: 2;">
                        <div class="iconPrograma">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#FFFFFF;}
                                </style>
                                <g>
                                    <path class="st0" d="M209.1,191.4c-2.5,0-4.7-1.3-6-3.4l-7.4-12.7c2.7-3.1,3.7-7.4,2.7-11.4l-5.2-20.9c-1.7-6.8-8.6-11-15.5-9.3
                                        c-1.7,0.4-3.4,1.2-4.8,2.3l-29.8-51.4c11.2-4.7,19.9-7.7,24.1-9c1.8-0.6,3.4-1.5,4.8-2.7L231,174.4c7.3-15.5,11.1-32.4,11-49.5
                                        c0-61.2-47.2-111.4-107.1-116.2l11.7,20.1c-24,11.7-45.7,24.6-64.7,38.6L116,8.7C56,13.5,8.9,63.6,8.9,124.8c0,17.1,3.7,34,11,49.5
                                        l21.2-36.6c2.4,3.2,6.2,5.1,10.2,5.2c3.4,0,6.7-1.4,9.1-3.9l1-1l-1.4,28.7L47.7,188c-1.2,2.1-3.5,3.4-6,3.4h-12
                                        c36.8,52.8,109.4,65.8,162.3,29.1c11.3-7.9,21.2-17.7,29.1-29.1L209.1,191.4z M190.4,173.1c-17.5,12.4-33,18.8-46.1,18.8
                                        c-9,0-16.8-3.1-22.7-8.9c-4.9-4.9-8.2-11.2-9.5-18c-2.6-12.8-0.5-48.2,1.4-71.8c-7.4,4.1-14.5,8.4-21.2,12.9l-3.1,81.8
                                        c-0.1,4-3.4,7.1-7.4,7.1l-10,0c-4.1,0-7.4-3.3-7.4-7.4c0-0.1,0-0.2,0-0.4l3.2-62.2c-3.8,3.4-7.4,6.8-10.9,10.3
                                        c-2.9,2.9-7.6,3-10.5,0.1c-0.8-0.8-1.4-1.7-1.8-2.8L39.8,120c-0.9-2.4-0.5-5.1,1.1-7.1c3.5-4.5,13.6-16.7,32.7-32.2
                                        c23.8-19.4,52.7-36.9,86-52.1c3.7-1.7,8.1-0.1,9.8,3.7c0.4,0.9,0.6,1.9,0.7,2.9l0.9,28.2c0.1,3.3-2,6.3-5.2,7.3
                                        c-9.4,3-18.7,6.5-27.7,10.5c-3.7,28.9-6.1,59.2,2.2,68.6c2.1,2.3,4.7,3.4,8.5,3.4c11.6,0,22-7.8,27.1-12.5c3-2.8,7.7-2.5,10.5,0.5
                                        c0.8,0.9,1.4,2,1.7,3.2l5.2,21C194.1,168.2,192.9,171.4,190.4,173.1L190.4,173.1z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="infoMidle">
                    <p class="textMidle">
                        Programa integral de capacitación en herramientas claves para el análisis de datos (Excel, Power BI, SQL, y Python), en donde los participantes adquieren habilidades analíticas básicas a avanzadas que mejoran la toma de decisiones basadas en datos, incrementando su empleabilidad y potenciando la eficiencia organizacional.
                    </p>
                </div>

                <div class="infoAcordeon">
                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Objetivos</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Resultados</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary class="sumLines"
                            >&nbsp;<b>·</b>&nbsp;Horas Electivas</summary
                        >
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>
                </div>

                <div class="infoBotones pitagoras">
                    <a href="/Pitagoras" class="botonPrograma">
                        <div class="verprogramaCont">
                            <p class="verprogramaText"> &#x2B9E; Ver Programa</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="programaBase programaUno">
            <div class="proximamente"><h4 class="textProximamente">Próximamente</h4></div>
            <div class="baseMargen" style="filter: blur(2px)">
                <div
                    class="infoTop"
                    style="background-color: var(--color-gestion);"
                >
                    <div class="infoTopIzq" style="flex: 8;">
                        <p class="etiqueta">Gestión</p>
                        <p class="titulo">Emprende</p>
                    </div>

                    <div class="infoTopDer" style="flex: 2;">
                        <div class="iconPrograma">
                            <svg
                                version="1.1"
                                id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px"
                                y="0px"
                                viewBox="0 0 300 300"
                                style="enable-background:new 0 0 300 300;"
                                xml:space="preserve"
                            >
                                <style type="text/css">
                                    .st0 {
                                        fill: #ffffff;
                                    }
                                </style>
                                <g>
                                    <path
                                        class="st0"
                                        d="M151,52.4c-18.6,0-33.8,15-33.8,33.3c0,18.4,15.2,33.3,33.8,33.3c18.6,0,33.8-15,33.8-33.3
		C184.8,67.4,169.7,52.4,151,52.4z M151,110c-13.6,0-24.6-10.8-24.6-24.2c0-13.4,11-24.2,24.6-24.2c13.6,0,24.6,10.9,24.6,24.2
		S164.6,110,151,110z"
                                    ></path>
                                    <path
                                        class="st0"
                                        d="M150,2C68.3,2,2,68.3,2,150s66.3,148,148,148s148-66.3,148-148S231.7,2,150,2z M110.9,285.5
		c16.9-2.2,33.7-5.4,50.2-9.4c1.7-0.4,3.1-1.8,3.4-3.6c13.4,3.1,27.3,5.9,39.5,7.8C174.5,292.5,141.7,294.3,110.9,285.5z
		 M218.8,273.1c-27-2.7-76.9-14.9-110.8-24.4c-2.4-0.7-5,0.7-5.7,3.1c0,0,0,0,0,0c-0.7,2.4,0.8,4.9,3.2,5.6
		c4.5,1.3,23.2,6.5,45.3,11.8c-15.5,3.5-40,8.1-59.5,9c-13.9-6.4-26.6-15-37.7-25.4c0.7-8.1,4.8-15.2,10.6-17.5
		c4.7-1.8,9.6-2.6,14.6-2.5c17.8,0,37.2,8.3,37.4,8.5c1.4,0.6,3.1,0.5,4.4-0.3c1.3-0.8,2.1-2.3,2.1-3.8v-47c0,0,0,0,0,0
		c0-1.3-1-2.3-2.3-2.3c-4.2,0-8.2,2-10.7,5.3c-3.8,4.9-9.8,11.6-17,16.5c-11.9,7.9-30.2,13.8-36.4,13.5c2.3-3.6,11.2-10.5,17.2-15.3
		c4.9-3.8,10-7.8,14.6-11.8c9.5-8.4,18.4-26.1,25.3-40.7l9.2-18.5l0.4-0.6c1.7-1.6,8.6-4.8,23.6-5.3c19.4-0.7,31.6,3.6,32.4,5.9
		l9.2,17.1c7,14.8,16.1,33.5,26,42.1c4.6,4.1,9.7,8,14.6,11.8c6.2,4.8,15.3,11.8,17.4,15.2c-6,0.3-24.6-5.6-36.5-13.5
		c-7.2-4.8-13.2-11.5-17-16.5c-2.6-3.3-6.5-5.3-10.7-5.3h-0.7c0,0,0,0,0,0c-1.3,0-2.3,1-2.3,2.3v47c0,1.6,0.8,3,2.2,3.8
		c1.3,0.8,3,0.9,4.4,0.3c9.1-4.2,35.7-13.9,49.3-8.4c6.7,2.7,11.3,10.7,11.7,20C238.2,260.6,228.8,267.5,218.8,273.1z M84.9,224
		c4.4-2,8.6-4.3,12.7-6.9c5.8-4,11.1-8.8,15.6-14.2v27.5C106.8,228.1,96.1,224.9,84.9,224z M214.8,222.9
		c-10.3,1.5-20.3,4.9-26.6,7.4v-28.1c4.7,5.7,10.2,10.8,16.4,15C207.8,219.3,211.3,221.2,214.8,222.9z M254.6,244.5
		c-1.2-4.6-3.3-8.9-6.2-12.6c0.9-0.1,1.7-0.3,2.5-0.6c2.3-0.8,4.1-2.7,4.7-5.1c1.9-7.7-7.8-15.2-21.1-25.5
		c-4.8-3.7-9.8-7.6-14.2-11.4c-9.1-8.1-18.8-28.7-25.2-42.4c-3.9-8.4-6.3-13.2-8.1-15.7c-0.5-0.6-1.2-1.1-1.9-1.4
		c-7.8-7.3-27.5-8-34.5-8c-7.8,0-31.2,0.9-36.3,10.9c-1.7,2.7-3.9,7.3-7.1,14.2c-6.4,13.6-16.1,34.3-25.2,42.3
		c-4.4,3.9-9.3,7.7-14.2,11.4c-13.4,10.3-23,17.8-21.1,25.5c0.6,2.4,2.4,4.3,4.7,5.1c0.6,0.2,1.2,0.4,1.8,0.5
		c-3.6,3.6-6.2,8.1-7.5,13C22,218.9,9,185.1,9,150C9,72.1,72.2,9,150,9s141,63.1,141,141C291,184.9,278,218.6,254.6,244.5z"
                                    ></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="infoMidle">
                    <p class="textMidle">
                        Programa integral de capacitación en herramientas claves para el análisis de datos (Excel, Power BI, SQL, y Python), en donde los participantes adquieren habilidades analíticas básicas a avanzadas que mejoran la toma de decisiones basadas en datos, incrementando su empleabilidad y potenciando la eficiencia organizacional.
                    </p>
                </div>

                <div class="infoAcordeon">
                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Objetivos</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary>&nbsp;<b>·</b>&nbsp;Resultados</summary>
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>

                    <details name="info">
                        <summary class="sumLines"
                            >&nbsp;<b>·</b>&nbsp;Horas Electivas</summary
                        >
                        <div>
                            Programa integral de capacitación en herramientas
                            claves para el análisis de datos (Excel, Power BI,
                            SQL, y Python), en donde los participantes adquieren
                            habilidades.
                        </div>
                    </details>
                </div>

                <div
                    class="infoBotones"
                    style="background-color: var(--color-gestion);"
                >
                    <a href="#" class="botonPrograma">
                        <div class="verprogramaCont">
                            <p class="verprogramaText"> &#x2B9E; Ver Programa</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    h4{
        width: fit-content;
    }

    .tituloSection {
        position: relative;
        width: 100%;
        font-size: 1.8em;
        font-weight:bold;
        color: rgb(94, 89, 89);
        line-height: 1em;
        text-align: center;
        padding-bottom: 10px; 
        border-bottom: 1px solid rgba(38, 35, 35, 0.2)
    }

    .metodos {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        place-items: center;
        -background-color:rgb(11, 8, 112);
    }
    
    .programasCont {
        position: relative;
        width: 98%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        -background-color: rgb(68, 65, 65); 
    }
    
    
    .programaBase {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: white;
        flex: 30%;
    }
    
    .baseMargen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        border-radius: 12px;
        -background-color: cyan;
    }

    .programaUno {
        transform: scale(1);
        translate: 0 0;
        box-shadow: var(--box-shadow); 
        transition: all ease-in-out 0.3s;
    }

    .programaUno:hover {
        transform: scale(1.005);
        translate: 0 -10px;
        box-shadow: var(--box-shadow);
        transition: all ease-in-out 0.3s;
    }


    p {
        margin: 0;
        line-height: normal;
    }

    .infoTop {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        background-color: var(--color-ayala);
        border-radius: 12px 12px 0 0;
        margin-bottom: 30px;
    }

    .etiqueta {
        width: fit-content;
        font-size: 0.5em;
        font-weight: 300;
        color: white;
        padding: 3px 10px;
        border-radius: 0.5em;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .titulo {
        font-size: 2em;
        font-weight: 600;
        color: white;
        text-shadow: rgba(55, 55, 54, 0.3) 1px 0 10px;
    }

    .infoTopIzq {
        padding: 0em 1em;
    }

    .infoTopDer {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        padding: 0 1em;
    }

    .iconPrograma {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        -background-color: white;
    }

    .infoMidle {
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        place-content: center;
        -background-color: rgba(0, 0, 0, 0.3);
    }

    .textMidle {
        height: auto;
        width: 90%;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.2em;
        color: rgb(68, 65, 65);
        text-align: justify;
        text-wrap: wrap;
        letter-spacing: -0.03em;
    }

    .infoAcordeon {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        -background-color: orangered;
    }

    details {
        width: 96%;
        text-align: left;
        font-size: 18px;
    }

    details > * {
        padding: 0;
    }

    summary {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: rgb(121, 115, 115);
        cursor: pointer;
        position: relative;
        border-top: 1px solid rgb(179, 173, 173);
    }

    .sumLines {
        border-bottom: 1px solid rgb(179, 173, 173);
    }

    summary::marker {
        content: "";
    }

    summary::before {
        content: "";
        position: absolute;
        inset: 0.7rem;
        left: auto;
        aspect-ratio: 1;
        background: conic-gradient(
                from 90deg at 33% 33%,
                #0000 90deg,
                #323232 0
            )
            100% 100%/60% 60%;
        clip-path: inset(1px);
    }

    details[open] summary::before {
        background: linear-gradient(#323232 0 0) 50%/100% 25% no-repeat;
    }

    details[open] summary {
        border-bottom: 1px solid gray;
    }

    details > div {
        width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5%;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.1em;
        text-align: justify;
        text-wrap: wrap;
        letter-spacing: -0.02em;
        color: rgb(128, 122, 122);
        -background-color: red;
    }

    .infoBotones {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 12px 12px;
        background-color: var(--color-ayala);
    }

    .alaya{
        background-color: #00b4a2cd;
    }
    
    .pitagoras{
        background-color: #e0bf3abf;
    }

    .botonPrograma:hover > .verprogramaCont {
        transform: translate(50%);
    }

    .botonPrograma {
        width: 100%;
        height: 50px;
        border: none;
        overflow: hidden;
        cursor: pointer;
        color: white;
        background-color: rgba(255, 255, 255, 0);
    }

    .verprogramaCont {
        height: 50px;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        align-items: center;
        -background-color: blueviolet;
        transform: translate(10%);
        transition: all ease-in-out 0.3s;
    }

    a{
        text-decoration: none;
    }

    .verprogramaText {
        font-size: 1.2em;
        font-weight: 500;
        color: white;
        padding: 0;
        margin: 0;
        padding-bottom: 2px;
        text-decoration: none!important;
    }

    .proximamente{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(47, 48, 57, 0.4);
    }

    .textProximamente{
        font-size: 1em;
        font-weight: 500;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        border-radius: 1rem;
        text-shadow: rgba(255, 247, 0, 0.5) 1px 0 40px;
        background-color: rgba(255, 12, 12, 0.7);
    }

    @media (min-width: 320px) and (max-width: 767px){
        .textProximamente{
            padding: 10px 10px;
            border-radius: 1rem;
            text-align: center;
        }
    }
</style>
